# Cruft
*~
*#
.#*
.DS_Store

# Test
coverage
.eslintcache

# Logs
*.log

# npm & yarn
node_modules/
.npm
npm-debug.log*
package-lock.json
/client/build/bundle.js
/client/build/index.html
/client/client/build*
/build/*
# Editor/IDE
.idea
packages/api/etc/
